<html>
<head>
  <title>Book catalogue</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

  <script src="/static/books/javascript/charts.js"></script>

</head>
<body>
  <h1>Books in catalogue</h1>
  {% if latest_book_list %}
    <ul>
      {% for book in latest_book_list %}
        <li><a href='{% url 'book_detail' book.id %}'>{{ book.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No books are available.</p>
  {% endif %}

  </br>
  </br>
  </br>

  <table>
    <tr>
      <td width='50%'>
        <div id='con1' style='width: 550px; height: 400px; margin: 0 auto'></div>
      </td>
      <td width='50%'>
        <div id='container' style='width: 550px; height: 400px; margin: 0 auto'></div>
      </td>
    </tr>
  </table>

  <script language='JavaScript'>

    $(document).ready(function() {

      var title = {
        text: 'Books by Publisher'
      };

      var series = [{
        type: 'pie',
        name: 'books no.',
        data: [

          {% for publisher, book_count in book_by_publisher_piechart_data %}
            ['{{ publisher|safe }}', {{ book_count|safe }}],
          {% endfor %}

        ]
      }];

      var tooltip = {
        pointFormat: '{series.name}: <b>{point.y}</b>'
      };

      var plotOptions = {
        pie: {
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
          },
          showInLegend: false
        }
      };

      var credits = {
        enabled: false
      };

      var json = {};

      json.title = title;
      json.series = series;
      json.tooltip = tooltip;
      json.plotOptions = plotOptions;
      json.credits = credits;
      
      $('#container').highcharts(json)
    });
  </script>
<footer>
  <address>
    Posted by <a href='mailto:aleks.lobzov@gmail.com'>Alexey Lobzov</a><br>
    Source code at <a href='https://github.com/AleksLobzov/Django-Research'>GitHub</a>
  </address>
</footer>
</body>
</html>